@charset "UFT-8";

:root {
    --cor1: #44EAA2;
    --cor2: #00E682;
    --cor3: #00B365;
    --cor4: #25AB70;
    --cor5: #00663A;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

   @font-face{
            font-family: "love";
            src: url("fonts/idroid.otf") format("truetype");
        font-weight: normal;
        font-size: normal;
            
        }

header{
    background-image: linear-gradient(to top, var(--cor1), var(--cor3), var(--cor5));
    box-shadow:2px 2px 2px black;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    
    min-height: 150px;
}
header>p{
    
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1{
    font-family: love;
    padding-bottom: 10px;
}
nav{
            text-align: center;
           padding: 5px;
         margin: 10px 1px;
        }
        nav >a{
           margin: 1px 3px;
           text-decoration: none;
           color: black;
           font-weight: bold;
           background-color: #00B6E8;
           padding: 3px;
           border-radius: 10px;
           box-shadow: 2px 2px 2px black;
        }
         
         nav >a:hover{
             text-decoration: underline;
         }
 body{
     background-image: linear-gradient(to top, #0BDB96, #00F2E6, #00F25D);
 }
 main{
     padding: 20px;
     margin: auto;
     margin-bottom: 10px;
     box-shadow: 2px 2px 2px black;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     background-color: white;
     min-width: 260px;
     max-width: 800px;
 }
     main strong{
     font-weight: bold;
     color: var(--cor3);
 }
     main a{
     text-decoration: none;
     font-weight: bold;
     color: var(--cor5);
     background-color: var(--cor2);
     padding: 2px 6px;
 }
     main a:hover{
     text-decoration: underline;
     color: var(--cor4);
 }
 img{
     width: 100%;
 }
 
 .pequeno{
     max-width: 350px;
     display: block;
     margin: auto;
 }
 
h2{
    color:#6178F2;
    padding: 3px;
    font-family: love;
}
h3{
    color:#6178F2;
    padding: 3px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 10px;
}
p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 20px;
}
h4{
    background-color: #09B8AC;
    padding: 3px;
}
.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 50%;
}
.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor2);
    border-radius: 10px;
}
aside > ul{
    list-style-type: "\2714\00a0";
    list-style-position: inside;
    columns: 2;
}
footer{
    color: wheat;
    background-color: black;
    margin: 0;
    box-shadow: 2px 2px 3px black;
    border-radius: 20px;
}

.fim{
    text-align: center;
}